
/*
 Header and Navbar---------------------------
*/
@media screen and (max-width: 900px) {
    
    .bottom-nav{
        display: block;
    }

    .logo{
        margin-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    header .socials{
        display: none;
    }
     .currency, .navbar, .user-action {
        display: none !important;
    }

    .header-top{
        display: block;
    }

    .header-top .discount{
       margin: auto;
    }
    .header-main{
        justify-content: space-around;
        border: none;
    }

    .search-bar{
        margin-left: 0;
    }

    .search-bar input{
        width: 300px;
    }
}

@media screen and (max-width: 620px){
    .header-main{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .search-bar{
        margin-bottom: 20px;
    }

    .header-main .logo{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header-main .user-action{
        margin-right: 0;
    }
}

@media screen and (max-width: 350px){

    .search-bar input{
        width: 200px;
    }

    .discount p{
        font-size: 10px;
    }

}

@media screen and (max-width: 260px){

    .search-bar input{
        width: 170px;
        font-size: small;
    }

    .discount p{
        font-size: 8px;
    }

    .bottom-nav ol{
        /* font-size: small; */
        justify-content: center;
        gap: 12px;
    }

}


/*
 Product Cards -----------------------------
*/

@media screen and (max-width:540px){

    .heading{
        font-size: 15px;
    }

    .uline{
        width: 150px;
    }

    .mycard{
        width: 200px !important;
        height: 260px !important;
    }

    .mycard .product-img{
        width: 110px !important;
        height: 180px !important;
    }
}


@media screen and (max-width:440px){
    .heading{
        font-size: 12px;
    }

    .uline{
        width: 130px;
    }

    .mycard{
        width: 135px !important;
        height: 200px !important;
    }

    .mycard .product-img{
        width: 70px !important;
        height: 125px !important;
    }

    .product-info{
        font-size: small;
    }

    .action-container{
        font-size: smaller;
        top: 10px;
        right: 6px
    }
    .action-container i{
        padding: 2px 2px;
        font-size: small;
    }

    .product-info .title{
        font-size: 13px;
    }

    .price p{
        font-size: 10px;
    }

    .nextPage a{
        font-size: smaller;
    }
}


/*
 Testimonials -------------------------------
*/
/* @media screen and (max-width:765px) {
    
    .userCard{
        width: 280px !important;
    }
}

@media screen and (max-width:630px) {
    
    .userCard{
        width: 230px !important;
    }
}
@media screen and (max-width:520px) {
    
    .userCard{
        width: 200px !important;
    }
}

@media screen and (max-width:460px) {
    
    .userCard{
        width: 175px !important;
    }

    .userCard .content{
        font-size: small;
    }

    .userCard .content img{
        width: 70px;
    }
}
@media screen and (max-width:410px) {
    
    .userCard{
        width: 155px !important;
    }

    .userCard .content{
        font-size: smaller;
    }
}
@media screen and (max-width:370px) {
    
    .userCard{
        width: 130px !important;
    }

    .userCard .content{
        font-size: 10px;
    }
} */

/*
 Cart Area------------------------------------
*/

@media screen and (max-width:460px) {
    .cart-container{
        width: 275px;
    }


    .cart-pic{
        width: 60px;
        height: 60px;
    }

    .cart-info{
        font-size: smaller;
    }

    a.order{
        width: 283px;
        right: 11px;
    }
    .cart-total p{
        font-size: small;
    }
}

/*
 Brand & Age------------------------------------
*/
@media screen and (max-width:935px){

    .brand, .age-groups{
        width: 100px !important;
    }
    
}

@media screen and (max-width:545px){

    .brand, .age-groups{
        width: 80px !important;
    }
    
}
@media screen and (max-width:455px){

    .brand, .age-groups{
        width: 55px !important;
    }
    
}

/*
 Location------------------------------------
*/

@media screen and (max-width:1280px) {
    .location{
        gap: 90px;
    }
}

@media screen and (max-width:956px) {
    iframe{
        width: 280px;
        height: 280px;
    }
}


@media screen and (max-width:900px) {
    .location{
        flex-direction: column;
    }

    iframe{
        margin-top: -30%;
    }

    .location-text{
        font-size: 20px;
    }
}

@media screen and (max-width:410px) {
    iframe{
        width: 250px;
        height: 250px;
    }

    .location-text{
        font-size: 15px;
        width: 300px;
    }
}

/*
 Contact Page------------------------------------
*/


@media screen and (max-width:945px) {
    .contact-form{
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
    }

    .contact-info ol{
        flex-direction: column;
    }

    .box2{
        margin-top: 5%;
    }

    .box1{
        margin-bottom: 5%;
    }
}

@media screen and (max-width:600px) {
    .input-box{
        width: 150px !important;
    }
    .box1{
        width: 400px;
    }
    .box2{
        width: 200px;
    }

    .msg-box{
        width: 345px;
    }
}

@media screen and (max-width:500px) {
    .box1 form{
        display: static;
    }

    .input-box{
        width: 200px !important;
        margin-bottom: 2%;
    }

    .box1{
        width: 220px;
    }
    .msg-box{
        width: 215px;
        margin-top: 0;
    }

    .contact-form{
        display: static;
        width: 250px;
        margin: auto;
    }
}



/*
 Detail Page------------------------------------
*/


@media screen and (max-width:840px) {
    .details-container{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;
    }

    .info{
        width: 500px;
        margin-bottom: 4%;
    }

    .pics{
        gap: 40px;
    }

    .big-img{
        width: 340px;
        height: 400px;
    }


}

@media screen and (max-width:520px) {

    .pics{
        flex-direction: column-reverse;
    }


    .small-img{
        flex-direction: row;
    }

    .big-img{
        width: 250px;
        height: 290px;
    }

    .small-box{
        width: 60px;
        height: 60px;
    }

    .info{
        font-size: small;
        width: 300px;
    }

    .info button{
        font-size: small;
    }
}

/*
 Footer------------------------------------
*/

@media screen and (max-width:850px) {
    footer .footer-container .footer-top{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    footer .footer-container ul{
        margin-bottom: 14px;
    } 
    
    footer .footer-container .logo{
        margin: auto;
    }

}
@media screen and (max-width:600px) {
    footer .footer-container .footer-top{
        grid-template-columns: 1fr;
    }

    .footer-bottom{
        flex-direction: column;
    }
}