@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*
 Header and Navbar
*/
@media screen and (max-width: 900px) {
    
    .bottom-nav{
        display: block;
    }

    .logo{
        margin-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .socials, .currency, .navbar, .user-action {
        display: none !important;
    }

    .header-top{
        display: block;
    }

    .header-top .discount{
       margin: auto;
    }
    .header-main{
        justify-content: space-around;
        border: none;
    }

    .search-bar input{
        width: 300px;
    }
}

@media screen and (max-width: 620px){
    .header-main{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .search-bar{
        margin-bottom: 20px;
    }

    .header-main .logo{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header-main .user-action{
        margin-right: 0;
    }
}

@media screen and (max-width: 350px){

    .search-bar input{
        width: 200px;
    }

    .discount p{
        font-size: 10px;
    }

}

@media screen and (max-width: 260px){

    .search-bar input{
        width: 170px;
        font-size: small;
    }

    .discount p{
        font-size: 8px;
    }

    .bottom-nav ol{
        /* font-size: small; */
        justify-content: center;
        gap: 12px;
    }

}

/*
 Slider
*/


@media screen  and (max-width:1182px){
    .content-text{
        font-size: medium;
    }

    .slider{
        height: 520px;
    }

    .content-pic img{
        width: 500px;
    }
}
@media screen  and (max-width:1191px){
    .content-text h2{
        font-size: 60px;
    } 

    .content-text p{
        font-size: 15px;
    }
}

@media screen  and (max-width:1080px){

    .slider{
        height: 494px;
    }
    .content-text h2{
        font-size: 55px;
    }
    .content-pic img{
        width: 480px;
    } 
}

@media screen  and (max-width:976px){
    .slider{
        height: 470px;
    }
    .content-text h2{
        font-size: 50px;
    } 

    .content-pic img{
        width: 450px;
    }
}
@media screen  and (max-width:896px){
    .slider{
        height: 455px;
    }

    .content-pic img{
        width: 440px;
    }
}
@media screen  and (max-width:876px){
    .slider{
        height: 430px;
    }

    .content-pic img{
        width: 410px;
    }
}
@media screen  and (max-width:847px){
    .slider{
        height: 420px;
    }

    .content-pic img{
        width: 400px;
    }

    .content-text h2{
        font-size: 38px;
    }
}



@media screen  and (max-width:763px){
    .slider{
        height: 402px;
    }
    .content-text h2{
        font-size: 35px;
    } 
    .content-pic img{
        width: 380px;
    }
}


@media screen  and (max-width:713px){
    .slider{
        height: 392px;
    }
    .content-text h2{
        font-size: 30px;
    } 
    .content-pic img{
        width: 370px;
    }
}

@media screen  and (max-width:687px){
    .slider{
        height: 375px;
    }
    .content-text h2{
        font-size: 26px;
    } 
    .content-pic img{
        width: 350px;
    }
}

@media screen  and (max-width:620px){
    .slider{
        height: 355px;
    }
    .content-text h2{
        font-size: 24px;
    } 
    .content-pic img{
        width: 330px;
    }
}

@media screen  and (max-width:590px){
    .slider{
        height:550px;
    }

    .slider-content{
        flex-direction: column;
    }

    .content-text{
        text-align: center;
        margin-left: 0;
    }
    .content-text h2{
        font-size: 24px;
    } 

    .content-text a{
        margin-left: 0;
    }

    .content-text p{
        margin-bottom: 12px;
    }

    .content-pic img{
        width: 405px;
        margin: auto;
    }
}

@media screen  and (max-width:435px){
    .slider{
        height:450px;
    }

    .content-pic img{
        width: 293px;
        margin: auto;
    }

}
@media screen  and (max-width:315px){
    .slider{
        height:350px;
    }

    .content-pic img{
        width: 180px;
        margin: auto;
    }

}

/*
 Product Cards 
*/
@media screen and (max-width:540px){
    .mycard{
        width: 200px !important;
        height: 250px !important;
    }

    .mycard .product-img{
        width: 110px !important;
    }
}
@media screen and (max-width:440px){
    .mycard{
        width: 150px !important;
        height: 200px !important;
    }

    .mycard .product-img{
        width: 60px !important;
    }

    .product-info{
        font-size: medium;
    }

    .action-container{
        font-size: smaller;
    }

    .action-container i{
        padding: 2px 2px;
    }
    .fa-star{
        color: rgb(247, 247, 17);
        font-size: smaller;
        letter-spacing: 1.8px;
    }
}

@media screen and (max-width:440px){
    .mycard{
        width: 130px !important;
        height: 165px !important;
    }

    .mycard .product-img{
        width: 50px !important;
    }

    .product-info{
        font-size: small;
    }

    .action-container{
        font-size: smaller;
    }

    .action-container i{
        padding: 2px 2px;
        font-size: small;
    }

    .product-info .title{
        font-size: 13px;
    }

    .price p{
        font-size: 10px;
    }

    .action-container{
        top: 10px;
        right: 6px;
    }
}


/*
 Brand and Age 
*/

@media screen and (max-width:935px){

    .brand, .age-groups{
        width: 100px !important;
    }
    
}

@media screen and (max-width:545px){

    .brand, .age-groups{
        width: 80px !important;
    }
    
}
@media screen and (max-width:455px){

    .brand, .age-groups{
        width: 55px !important;
    }
    
}

/*
 Product Cards 
*/