@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins" ,sans-serif;
}

header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    color: hsl(0, 0%, 47%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
}


.header-top .socials{
    margin-left: 30px;
}

.header-top .socials ul{
    display: flex;
    gap: 10px;
}

.header-top .socials ul li {
    background-color: #d5d3d3;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
}

.header-top .socials ul li:hover{
    color: white;
    background-color: hsl(353, 100%, 78%);
}

.header-top .discount{
    cursor: pointer;
    font-size: 12px;
    margin-right: 55px;
}
.header-top .currency{
    margin-right: 30px;
    cursor: pointer;
}

.header-top .currency select{
    background-color: none;
    padding: 4px 7px;
    width: 70px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 47%);
    outline: none;
}


.header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    color: hsl(0, 0%, 47%);
    border: 1px solid hsl(0, 0%, 93%);
}


.logo{
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.search-bar{
    border: 1px solid hsl(0, 0%, 93%);
    padding: 7px;
    border-radius: 4px;
    color: hsl(0, 0%, 47%);
}

.search-bar input{
    border: none;
    outline: none;
    width: 400px;
}


.header-main .user-action ul{
    display: flex;
    gap: 15px;
    font-size: larger;
    cursor: pointer;
}

.header-main .user-action ul li{
    padding: 3px 9px;
    border-radius: 4px;
}

.header-main .user-action ul li:hover{
    color: white;
    background-color: hsl(353, 100%, 78%);
}

.navbar nav ol {
    display: flex;
    gap: 60px;
    font-size: large;
    cursor: pointer;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.navbar nav ol li a{
    color: hsl(0, 0%, 47%);
}

.navbar nav ol li a:hover{
    color: hsl(353, 100%, 78%);
}


.bottom-nav {
    max-width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: none;
    z-index: 1000;
}

.bottom-nav ol{
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.897);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
    align-items: center;
    gap: 40px;
    color: hsl(0, 0%, 47%);
    cursor: pointer;
    border-radius: 4px;
}

.bottom-nav ol li i{
    padding: 4px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bottom-nav ol li i:hover{
    background-color: hsl(353, 100%, 78%);
    color: white;
}


.mobile-container{
    display: none;
}

.mobile-nav{
    background-color: hsl(353, 100%, 78%);
    width: 100%;
    height: 100%;
    gap: 17px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    color: white;

}

.mobile-nav ol{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.mobile-nav ol li a{
    color: white;
}

.mobile-nav .socials ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav .socials ul li{
    padding: 2px 8px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: hsl(353, 100%, 78%)
}


@media screen and (max-width: 900px) {
    
    .bottom-nav{
        display: block;
    }

    .logo{
        margin-left: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .socials, .currency, .navbar, .user-action {
        display: none !important;
    }

    .header-top{
        display: block;
    }

    .header-top .discount{
       margin: auto;
    }
    .header-main{
        justify-content: space-around;
        border: none;
    }

    .search-bar input{
        width: 300px;
    }
}

@media screen and (max-width: 620px){
    .header-main{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .search-bar{
        margin-bottom: 20px;
    }

    .header-main .logo{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .header-main .user-action{
        margin-right: 0;
    }
}

@media screen and (max-width: 350px){

    .search-bar input{
        width: 200px;
    }

    .discount p{
        font-size: 10px;
    }

}

@media screen and (max-width: 260px){

    .search-bar input{
        width: 170px;
        font-size: small;
    }

    .discount p{
        font-size: 8px;
    }

    .bottom-nav ol{
        /* font-size: small; */
        justify-content: center;
        gap: 12px;
    }

}


.slider{
    position: relative;
    background-color: hsl(353, 100%, 78%);
    width: 100%;
    height: 600px;
}

.slider-top{
    background-image: url(../images/slider/pp\ \(1\).png);
    width: 100%;
    height: 55px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.slider-content{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.content-text{
    /* width: 200px; */
    margin-left: 40px;
    color: white;
    font-size: larger;
    line-height: 1.16;
}

.content-text h2{
    font-size: 70px;
    margin-bottom: 13px;
    font-weight: 300;
}

.content-text p{
    font-size: 20px;
    margin-left: 13px;
    margin-bottom: 25px;
}

.content-text a{
    padding: 5px;
    color: hsl(353, 100%, 78%);
    background-color: white;
    border-radius: 7px;
    margin-left: 15px;
}

.content-pic img{
    width: 590px;
    transform: rotate(-5deg);
    margin-right: 40px;
}

.slider-bottom{
    width: 100%;
    height: 120px;
}

.slider-bottom img{
    width: 100%;
    /* height: 100%; */
    background-repeat: no-repeat;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
}

@media screen  and (max-width:1182px){
    .content-text{
        font-size: medium;
    }

    .slider{
        height: 520px;
    }

    .content-pic img{
        width: 500px;
    }
}
@media screen  and (max-width:1191px){
    .content-text h2{
        font-size: 60px;
    } 

    .content-text p{
        font-size: 15px;
    }
}

@media screen  and (max-width:1080px){

    .slider{
        height: 494px;
    }
    .content-text h2{
        font-size: 55px;
    }
    .content-pic img{
        width: 480px;
    } 
}

@media screen  and (max-width:976px){
    .slider{
        height: 470px;
    }
    .content-text h2{
        font-size: 50px;
    } 

    .content-pic img{
        width: 450px;
    }
}
@media screen  and (max-width:896px){
    .slider{
        height: 455px;
    }

    .content-pic img{
        width: 440px;
    }
}
@media screen  and (max-width:876px){
    .slider{
        height: 430px;
    }

    .content-pic img{
        width: 410px;
    }
}
@media screen  and (max-width:847px){
    .slider{
        height: 420px;
    }

    .content-pic img{
        width: 400px;
    }

    .content-text h2{
        font-size: 38px;
    }
}



@media screen  and (max-width:763px){
    .slider{
        height: 402px;
    }
    .content-text h2{
        font-size: 35px;
    } 
    .content-pic img{
        width: 380px;
    }
}


@media screen  and (max-width:713px){
    .slider{
        height: 392px;
    }
    .content-text h2{
        font-size: 30px;
    } 
    .content-pic img{
        width: 370px;
    }
}

@media screen  and (max-width:687px){
    .slider{
        height: 375px;
    }
    .content-text h2{
        font-size: 26px;
    } 
    .content-pic img{
        width: 350px;
    }
}

@media screen  and (max-width:620px){
    .slider{
        height: 355px;
    }
    .content-text h2{
        font-size: 24px;
    } 
    .content-pic img{
        width: 330px;
    }
}

@media screen  and (max-width:590px){
    .slider{
        height:550px;
    }

    .slider-content{
        flex-direction: column;
    }

    .content-text{
        text-align: center;
        margin-left: 0;
    }
    .content-text h2{
        font-size: 24px;
    } 

    .content-text a{
        margin-left: 0;
    }

    .content-text p{
        margin-bottom: 12px;
    }

    .content-pic img{
        width: 405px;
        margin: auto;
    }
}

@media screen  and (max-width:435px){
    .slider{
        height:450px;
    }

    .content-pic img{
        width: 293px;
        margin: auto;
    }

}
@media screen  and (max-width:315px){
    .slider{
        height:350px;
    }

    .content-pic img{
        width: 180px;
        margin: auto;
    }

}













.featured{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    flex-wrap: wrap;
}

.featured-item {
    width: 250px;
    border: 4px solid hsl(0, 0%, 93%);
    padding: 40px;
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 47%);
    margin-bottom: 10px;

}

.featured-item:hover{
    border: 4px solid hsl(353, 100%, 78%);
}

