/*--------------------Google Font--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*--------------------Universal--------------------*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/*--------------------H Group--------------------*/
h1, h2, h3, h4, h5, h6{
    font-family: "Rubik", serif;
    font-weight: 400;
}

/*--------------------Body--------------------*/
body{
    font-family: "Fredoka", serif;
    background-color: #ffffff;
}

.dark{
    background-color: #474547; 
   
}

.mycard.dark{
    background-color: #05648f; 
    color: white;
}

.heading.dark{
    color: hsl(0deg 100% 98.75%); 
}

footer.dark{
    background-color: #05648f;
}

.userCard{
    background-color: #05648f;
    color: white;
}


#lightVdo{
    display: block;
}

#darkVdo{
    display: none;
}

.dark #lightVdo{
    display: none;
}

.dark #darkVdo{
    display: block;
}


html{
    scroll-behavior: smooth;
}

/*--------------------Header Top--------------------*/
header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    color: hsl(0, 0%, 47%);
    border-bottom: 1px solid hsl(0, 0%, 93%);
}
.header-top .socials{
    margin-left: 30px;
}

.header-top .socials ul{
    display: flex;
    gap: 10px;
}

.header-top .socials ul li{
    background-color: #d5d3d3;
    border-radius: 4px;
    padding: 2px 8px;
    cursor: pointer;
}

.header-top .socials ul li a{
    color: hsl(0, 0%, 47%);
}



.header-top .socials ul li:hover{
    color: white;
    background-color: hsl(353, 100%, 78%);
}
.header-top .socials ul li:hover a{
    color: white;
    background-color: hsl(353, 100%, 78%);
}

.header-top .discount{
    cursor: pointer;
    font-size: 12px;
}
.header-top .currency{
    margin-right: 30px;
    cursor: pointer;
}

.header-top .currency select{
    background-color: none;
    padding: 4px 7px;
    width: 70px;
    text-align: center;
    border: 1px solid hsl(0, 0%, 47%);
    outline: none;
}

/*--------------------Header Main--------------------*/
.header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    color: hsl(0, 0%, 47%);
    border: 1px solid hsl(0, 0%, 93%);
}


.logo{
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.logo img{
    width: 100%;
    object-fit: cover;
}

.search-bar{
    border: 1px solid hsl(0, 0%, 93%);
    padding: 7px;
    border-radius: 4px;
    color: hsl(0, 0%, 47%);
    margin-left: 55px;
}

.search-bar input{
    border: none;
    outline: none;
    width: 400px;
}


.header-main .user-action ul{
    display: flex;
    gap: 15px;
    font-size: larger;
    cursor: pointer;
}

.header-main .user-action ul li{
    padding: 3px 9px;
    border-radius: 4px;
}

.header-main .user-action ul li:hover{
    color: white;
    background-color: hsl(353, 100%, 78%);
}

/*--------------------Navbar--------------------*/
.navbar nav ol {
    display: flex;
    gap: 60px;
    font-size: large;
    cursor: pointer;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.navbar ol li{
    color: hsl(0, 0%, 47%);
}

.navbar ol li:hover{
    color: hsl(353, 100%, 78%);
}

.navbar nav ol li a{
    color: hsl(0, 0%, 47%);
}

.navbar nav ol li a:hover{
    color: hsl(353, 100%, 78%);
}

.drop{
    position: relative;
}

.down{
    position: absolute;
    width: 150px;
    flex-direction: column;
    margin-top: -18px;
    transform: translate(-20%);
    display: none !important;
}

.down .list{
    margin-bottom: -54px;
}

.drop:hover .down{
    display: flex !important;
}

/*--------------------Bottom Navigation--------------------*/
.bottom-nav {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: auto;
    display: none;
    z-index: 100;
}

.bottom-nav ol{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.897);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 45px;
    align-items: center;
    gap: 40px;
    color: hsl(0, 0%, 47%);
    cursor: pointer;
    border-radius: 4px;
}

.bottom-nav ol li i{
    padding: 4px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.bottom-nav ol li i:hover{
    background-color: hsl(353, 100%, 78%);
    color: white;
}


/*--------------------Mobile Nav--------------------*/
.mobile-container{
    display: none;
}

.mobile-nav{
    background-color: hsl(353, 100%, 78%);
    width: 100%;
    height: 100%;
    gap: 17px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    color: white;
    z-index: 100;

}

.mobile-nav ol{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.mobile-nav ol li a{
    color: white;
}

.mobile-nav .socials ul{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-nav .socials ul li{
    padding: 2px 8px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color: hsl(353, 100%, 78%)
}

.mobile-nav .socials ul li a{
    color: hsl(353, 100%, 78%);
    background-color: rgb(255, 255, 255);
}

.count {
    position: absolute;
    /* top: -2px; */
    /* right: -3px; */
    background: red;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}
.county {
    position: absolute;
    /* top: -2px; */
    /* right: -3px; */
    background: red;
    color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

/*--------------------Cart Area--------------------*/
.cart{
    margin-right: 30px;
    font-size: larger;
}

.cart a{
    color: rgba(0, 0, 0, 0.897);
    font-size: larger;
    padding: 2px;
}

.cart a:hover{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    border-radius: 6px;
}

.cart-container{
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.897);
    z-index: 1000;
    width: 400px;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    background-color: #e4f6fe;
    border-radius: 6px;
}

.heart-container{
    display: none;
    position: fixed;
    top: 0;
    right: 10px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.897);
    z-index: 1000;
    width: 400px;
    padding: 10px;
    height: 100%;
    overflow: scroll;
    background-color: #e4f6fe;
    border-radius: 6px;
}

.cart-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.cart-pic{
    width: 90px;
    height: 90px;
}


.cart-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.heart-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-info{
    display: flex;
    text-align: center;
    font-size: small;
    align-self: center;
    width: 100px;
    height: 35px;
}

.cart-price{
    height: 20px;
}

.cart-total h3{
    /* width: 50px; */
    font-size: normal;
    height: 30px;
    text-align: left;
    color: hsl(0, 0%, 26%);

}
.closeCart, .closeHeart{
    text-align: right;
    font-size: large;
    margin: 10px;
    color: hsl(353, 100%, 78%);
    cursor: pointer;
}

a.order{
    position: fixed;
    bottom: 0;
    right: 25px;
    padding: 5px;
    text-align: center;
    background-color: hsl(353, 100%, 78%);
    width: 395px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.del i{
    color: hsl(353, 100%, 78%);
    cursor: pointer;
}

/*--------------------Banner--------------------*/
.banner{
    margin-bottom: 4%;
    margin-top: 7px;

}
/*--------------------Product Cards--------------------*/
.heading{
    text-align: center;
    color: hsl(0, 0%, 47%);
    margin-bottom: 5%;
    font-size: 20px;
    position: relative;
}

.underline{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ubox{
    width: 10px;
    height: 10px;
    background-color: hsl(353, 100%, 78%);
}

.uline{
    width: 190px;
    height: 4px;
    background-color: hsl(353, 100%, 78%);
}

.cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.mycard{
    background-color: #e4f6fe;
    /* background-color: white; */
    width: 242px;
    height: 343px;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    color: hsl(0, 0%, 47%);
    /* box-shadow: 0px 0px 4px 0px hsl(353, 100%, 78%); */
}

#bpic{
    height: 250px;
}

.mycard:hover .action-container{
    display: block;
}

.mycard .product-img{
    width: 180px;
    margin: auto;
    height: 265px;
}

.mycard .product-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.action-container{
    display: none;
    position: absolute;
    top: 30%;
    right: 10px;
}

.product-action{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-action i{
    padding: 5px 4px;
    background-color:hsl(353, 100%, 78%);
    color: white;
    border-radius: 4px;
    text-align: center;
}

.rating{
    margin-bottom: 5px;
}

.fa-star{
    color: rgb(247, 247, 17);
    font-size: 14px;
    letter-spacing: 1.8px;
}

.product-info{
    margin-left: 10px;
}

.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: hsl(0, 0%, 47%);
    margin-top: 5px;
}

.price{
    margin-top: 7px;
}

.nextPage{
    text-align: center;
    margin-bottom: 5%;
}

.nextPage a{
    background-color: hsl(353, 100%, 78%);
    color: white;
    padding: 10px 14px;
    font-size: larger;
    border-radius: 9px;
}

/*--------------------Pagination--------------------*/
.page-btn{
    margin-bottom: 5%;
   text-align: center;
   display: flex;
   margin-top: 7%;
   gap: 12px;
   justify-content: center;

}

.page-btn .b1{
    border: 1px solid hsl(353, 100%, 78%);
    padding: 4px;
    cursor: pointer;
    width: 36px;
    color: hsl(353, 100%, 78%);
}

.page-btn .b1:hover{
    background-color: hsl(353, 100%, 78%);
    color: #fff;
}

.page-btn ul{
    display: flex;
    list-style: none;
}

#pre{
    width: 75px;
    border: 1px solid hsl(353, 100%, 78%);
    padding: 4px;
    color: hsl(353, 100%, 78%);
    
}

#pre:hover{
    background-color: hsl(353, 100%, 78%);
    color: white;
}

#Next{
    width: 70px;
}

.disable{
    color: #555;
    background-color: transparent;
    border: 1px solid #555;
    cursor: not-allowed;
    padding: 5px;
    width: 70px;
}
.disable:hover{
    color: #555;
    background-color: transparent;
    border: 1px solid #555;
    cursor: not-allowed;
    padding: 4px;
}

.active{
    background-color: hsl(353, 100%, 78%);
    color: white !important;
}


/*--------------------Age Group--------------------*/
.age{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5%;
}

.age-groups{
    width: 120px;
}

.age-groups img{
    width: 100%;
}

/*--------------------Brands--------------------*/
.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 5%;
}

.brand{
    width: 160px;
}

.brand img{
    width: 100%;
}

/*--------------------Testimonials--------------------*/
.swiper {
    width: 100%;
    height: 100%;
}

#wrapper{
    position: static;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-btn{
    color: darksalmon;
    position:static;
    margin-top: 10px;
}

.userCard{
    /* width: 275px; */
    width: 80%;
    text-align: center;
    background-color: #e4f6fe;
    color: hsl(0, 0%, 26%);
    font-size: medium;
    padding: 10px;
    border-radius: 6px;
}

.userCard .content h1, p, img, h3{
    margin-top: 5%;
    margin-bottom: 5%;
}

.userCard h1, h3{
    color: hsl(353, 100%, 78%);
    font-weight: bolder;
}

.userCard .content img{

    margin: auto;
    width: 100px;
    border: 10px solid white;
    border-radius: 100%;
    object-fit: contain;
}

/*--------------------Ads Banner--------------------*/
.adsBanner{
    width: 100%;
    margin-bottom: 2%;
}

.add1{
    width: 80%;
    margin: auto;
}

.add1 img{
    width: 100%;
    border-radius: 8px;
}

/*--------------------Services--------------------*/
.Services{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -3%;
}

.service-item {
    width: 250px;
    padding: 40px;
    position: relative;
    text-align: center;
    color: hsl(0, 0%, 47%);
    margin-bottom: 10px;

}


/*--------------------Location--------------------*/
.location-container{
    display: flex;
    justify-content: center;
}
.location{
    width: 70%;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.location-text{
    width: 400px;
    text-align: center;
}

.location iframe{
    border-radius: 30px;
    border:4px solid hsl(353, 100%, 78%);
    width: 300px;
    height: 300px;
}

/*--------------------Detail Page--------------------*/

#gcards{
    margin-top: 5%;
    align-items: center;
    gap: 20px;
}

#gallery{
    padding: 0;
    height: auto;
    background-color: transparent;
}

#gallery img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    margin: 0;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.897);
    border-radius: 6px;
}

/*--------------------Detail Page--------------------*/

.details-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 4%;
}

.pics{
    display: flex;
    gap: 40px;
    align-items: center;
}

.big-img{
    width: 300px;
    height: 340px;
    background-color: #e4f6fe;
    cursor: pointer;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.897);
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
}

.big-img img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.small-img{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.small-box{
    width: 80px;
    height: 80px;
    background-color: #e4f6fe;
    box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.897);
    transition: transform 0.3s ease-in;
    border-radius: 4px;
    border-radius: 6px;
}

.small-box:hover{
    transform: scale(1.05);
}

.small-box img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.info{
    width: 400px;
}

.ordernow, .download, .compare {
    background-color: hsl(353, 100%, 78%);
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
}

.ordernow:hover, .download:hover, .compare:hover {
    background-color: hsl(353, 100%, 61%);
}

.info a {
    color: white;
}

.info select{
    border: 1px solid hsl(0, 0%, 47%);
    outline: none;
}

.info select:focus{
    outline: none;
}
/*--------------------Contact--------------------*/

.contact-info{
    text-align: center;
    color: hsl(0, 0%, 26%);
    margin-top: -2%;
    padding: 35px;
}

.contact-info p{
    margin-top: 2%;
}

.contact-info i{
    color: hsl(353, 100%, 78%);
    padding-bottom: 5px;
    font-size: 20px;
}

.contact-info ol{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: -2%;
    margin-bottom: 4%;
}

.contact-info ol li small{
    font-size: small;
}

.contact-location{
    width: 100%;
}

.contact-location iframe{
    width: 100%;
    height: 200px;
    border: none;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Form Section Styling */
.contact-form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 530px;
    align-items: center;
    margin-top: -5%;
}

.box1{
    width:600px;
}

.box1 form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 10px;
}
.box1 .input-box{
    padding: 10px;
    width: 250px;
}

.box1 .input-box h2{
    color:#555;
    margin-top: 3%;
}

.box1 .input-box input{
    padding: 10px;
    margin-top: 3%;
    outline: none;
    border: 1px solid hsl(0, 0%, 47%);
    width: 100%;
}

.box1 input[type="submit"]{
    border: 2px solid hsl(353, 100%, 78%);
    padding: 5px;
    margin-left: 1.5%;
    background-color: white;
    color: hsl(353, 100%, 78%);
}

.box1 input[type="submit"]:hover{
    padding: 5px;
    background-color: hsl(353, 100%, 78%);
    color: white;
}

.box1 .input-box input:focus{
    border: 2px solid hsl(353, 100%, 78%);
}

.msg-box{
    width: 541px;
    margin-left: 9px;
    margin-top: 10px;
}

.box1 .msg-box textarea{
    outline: none;
    border: 1px solid hsl(0, 0%, 47%);
    width: 100%;
    padding: 5px;
    margin-top: 22px;
}


.box2{
    width: 400px;
}

.box2 img{
    width: 100%;
}

label{
    display: none;
}

.msg-btn{
    margin-left: 9px;
    margin-top: 5px;
}

.msg-box input{
    width: 98% !important;
    padding: 10px;

}

#mini{
    width: 158px;
    margin-top: 2%;
}

.msg-box textarea:focus{
    border: 2px solid hsl(353, 100%, 78%);
}

.msg-box input:focus{
    border: 2px solid hsl(353, 100%, 78%);
    outline: none;
}



/*--------------------About--------------------*/

.about-container{
    text-align: center;
    color: hsl(0, 0%, 26%);
}


.team{
    padding: 30px;
    margin-top: -4%;
}

.team-info{
    margin-top: -10px;
}

.teamCard{
    width: 80%;
    background-color: #e4f6fe;
    padding: 50px;
    border-radius: 12px;
    
}

.teamCard img{
width: 100px;
border-radius: 50%;
border: 4px solid hsl(353, 100%, 78%);

}

.action{
    margin-top: 6%;
}

a.chat{
    color: hsl(0, 0%, 26%);
    border: 1px solid hsl(0, 0%, 47%);
    padding: 5px;
    border-radius: 6px;
    margin-top: 5%;
}

a.chat:hover{
    background-color: hsl(0, 0%, 93%);
}

.icons{
    display: flex;
    gap: 10px;
    color: white;
    margin-top: 8%;
    justify-content: center;
}

.icons i{
    background-color: hsl(353, 100%, 78%);
    padding: 5px 5px;
    border-radius: 4px;
}


.quote{
    color: hsl(353, 100%, 78%);
    margin-bottom: 3%;
}


table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd;
  }
  th, td {
    padding: 10px;
  }
  th {
    background-color: #f4f4f4;
  }

  .fa-check{
    color: green;
  }

  .fa-times{
    color: red;
  }

/*--------------------Footer--------------------*/
footer{
    /* background-color: #001219; */
    background-color: #e4f6fe;
    color: hsl(0, 0%, 47%);
    padding: 30px;
    border-radius: 32px 32px 0 0;
}

footer a{
    color:hsl(0, 0%, 47%);
}

footer i{
    color: hsl(353, 100%, 78%);
}

footer h3{
    color: hsl(0, 0%, 26%);
}

footer .footer-container{
    max-width: 1100px;
    margin: 0 auto;
}

footer .footer-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .footer-container ul{
    padding: 0;
    font-size: 16px;
    margin-bottom: 24px;
}

footer .footer-container ul li{
    margin: 10px 0;
}

.footer-container .footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.footer-bottom .socials ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-bottom i{
    color: hsl(0, 0%, 47%);
}

.footer-container .copyright{
    color: hsl(353, 100%, 78%);
    font-weight: 500;
}